{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}POPLAVOK{% endblock %}</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"> -->
    <style>
    table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    }

    th, td {
    text-align: left;
    padding: 10px;
    }
    tr:nth-child(even) {
    background-color: #f2f2f2;
    }
    </style>
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>
    </header>
    <main>
        <table>
        <tr>
            <th>Date Time</th>
            <td id="server_time">{{server_time}}</td>
            </tr>
            <tr>
            <th>Status</th>
            <td id="device_status">{{device_status}}</td>
            </tr>
            <th>Current Series</th>
            <td id="current_series"></td>
            </tr>
            <tr>
            <th>Temperature</th>
            <td id="temperature">{{temperature}}</td>
            </tr>
            <tr>
            <th>Pressure</th>
            <td id="pressure">{{pressure}}</td>
            </tr>
            <tr>
            <th>Humidity</th>
            <td id="humidity">{{humidity}}</td>

        </tr>
        </table>

        {% block content %}
        {% endblock %}
        
    </table>

    </main>
    <footer>
    </footer>
    <script src={% static 'jquery-3.6.0.min.js' %}></script>
    <script>
        function refresh() {
            $.ajax({
                url: "{% url 'index_data' %}",
                success: function(data) {
                    $('#server_time').html(data['server_time']);
                    $('#current_series').html(data['current_series']['id']);
                    $('#temperature').html(data['temperature']);
                    $('#pressure').html(data['pressure']);
                    $('#humidity').html(data['humidity']);
                    $('#device_status').html(data['device_status']);
                }
            });
        };
        $(document).ready(function ($) {
            refresh();
            setInterval(refresh, 1000);
        });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>