{% load static %}<!DOCTYPE html>
<!-- https://www.w3schools.com/w3css/tryw3css_templates_black.htm -->
<html>
<title>{% block title %}Поплавок{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS CUSTOM -->
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/w3-theme-black.css' %}">
<link rel="stylesheet" href="{% static 'css/all.css' %}">
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Меню</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Закрыть <i class="fa fa-window-close"></i></button>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button">Статус</a>
  <a href="{% url 'series' %}" class="w3-bar-item w3-button">Управление сериями</a>
  <a href="{% url 'startCalibration' %}" class="w3-bar-item w3-button">Калибровка</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
  <br> 
  <div class="w3-left w3-half">
    <table class="w3-table">
      <tr>
        <th>Время последнего измерения :</th>
        <td id="last_time">32</td>
      </tr>

      <tr>
        <th>Напряжение, В :</th>
        <td id="voltage">1.024</td>
      </tr>

      <tr>
        <th>Температура, °C :</th>
        <td id="temperature">32</td>
      </tr>
      
      <tr>
        <th>Давление, гПа :</th>
        <td id="pressure">1000</td>
      </tr>
  
      </tr>
        <th>Влажность, % :</th>
        <td id="r_humidity">10</td>
      </tr>
  
      </tr>
        <th>Влажность, г/м³ :</th>
        <td id="a_humidity">3</td>
      </tr>
  
      </tr>
        <th>Массовая доля влажности, ppmM :</th>
        <td id="ppmM_H2O">5000</td>
      </tr>
  
      </tr>
        <th>Объемная доля влажности, ppmV :</th>
        <td id="ppmV_H2O">9000</td>
      </tr>
	  
      </table> 
      </div> 
  <div class="w3-right w3-half">
  <table class="w3-table">
    <tr>
      <th style="white-space: nowrap;">Время на сервере :</th>
      <td id="server_time">12:05:03</td>
    </tr>
    
    <tr>
      <th style="white-space: nowrap;">Текущее состояние :</th>
      <td id="device_status">Ожидание</td>
    </tr>

    </tr>
      <th>Текущая серия :</th>
      <td id="current_series">Серия 12</td>
    </tr>

    </tr>
      <th>Текущая калибровка :</th>
      <td id="current_calibration">Датчик не откалиброван</td>
    </tr>

    </tr>
      <th>Скорость вентиляторов, % :</th>
      <td id="fanSpeed">0</td>
    </tr>

    </tr>
      <th>Содержание метана, ppm :</th>
      <td id="CH4">Неизвестно</td>
    </tr>
    </table>  
  </div>
</header>

<script src={% static 'plotly-latest.min.js' %}></script>
<script src={% static 'w3_functions.js' %}></script>
<script src={% static 'jquery-3.6.0.min.js' %}></script>

{% block content %}
{% endblock %}

<script>
  var statusBufferSize = 100;
  var statusBuffer = [];
  function fillHeader(data)
  {
    $('#server_time').html(data['server_time']);
    $('#current_series').html(data['current_series']);
    $('#current_calibration').html(data['current_calibration']);
    $('#device_status').html(data['device_status']);
    $('#fanSpeed').html(data['fanSpeed']);
    $('#temperature').html(data['lastTemp']);
    $('#pressure').html(data['lastPres']);
    $('#r_humidity').html(data['lastRHum']);
    $('#a_humidity').html(data['lastAHum']);
    $('#ppmM_H2O').html(data['lastH2OppmM']);
    $('#ppmV_H2O').html(data['lastH2OppmV']);
    $('#last_time').html(data['lastTime']);
    $('#voltage').html(data['lastVolt']);
    $('#CH4').html(data['lastCH4']);
  };

  function updateStatusBuffer(data)
  {
    if (statusBuffer.length > statusBufferSize)
    {
      statusBuffer.shift();      
    }
    statusBuffer.push(data);
  }
  function refresh() {
      $.ajax({
          url: "{% url 'getStatus' %}",
          success: function (data) { 
            fillHeader(data); 
            updateStatusBuffer(data);
          },
      });
  };
  $(document).ready(function ($) {
      refresh();
      setInterval(refresh, 1000);
  });
</script>
{% block javascript %}{% endblock %}
</body>
</html>
