{% extends 'base_pretty.html' %}

{% block content %}
<!-- <p>
<form action='startExperiment' method='GET'>
    <button type="submit">Start Experiment</button>
</form>
</p> -->

<script>

    function setFansSpeed(speed) {	
     $.ajax({
         url : `setFansSpeed/${speed}`,
         success: function(data)
         {
            fan_slider = document.getElementById('rangeValue')
            if (data['status'] == 0)
            {
              speed = 0
            }
            fan_slider.innerHTML = speed + '%'
         }		 
     }) 
  }
</script>
<br><br>
<div class="w3-center w3-row-padding">
    <a class="w3-button w3-border w3-third w3-theme" href="./startExperiment">Запустить эксперимент</a>
    <a class="w3-button w3-border w3-third w3-theme" href="./stopExperiment">Остановить эксперимент</a>
    <a class="w3-button w3-border w3-third w3-theme" href="./createSeries">Создать серию</a>
</div>
<p align="center">Скорость вентиляторов <input class="" type="range" min="0" max="100" list="tickmarks" id="fan_slider" value="0" step="5" onchange=setFansSpeed(this.value) oninput="document.getElementById('rangeValue').innerHTML = this.value + '%'">
<datalist id="tickmarks">
<option value="0" label="0%">
<option value="10">
<option value="20">
<option value="30">
<option value="40">
<option value="50" label="50%">
<option value="60">
<option value="70">
<option value="80">
<option value="90">
<option value="100" label="100%">
</datalist>
<span id="rangeValue">0%</span></p>

{% if measurements|length > 0 %}
<div class="w3-container">
    <hr>
    <div class="w3-center">
      <h2>Измерения в текущей серии</h2>
      <!-- <p w3-class="w3-large">Don't worry. W3.CSS takes care of your tables.</p> -->
    </div>
  <div class="w3-responsive w3-card-4">
  <table class="w3-table w3-striped w3-bordered">
  <thead>
  <tr class="w3-theme">
    <th>ИД</th>
    <th>Описание</th>
    <th>Дата</th>
  </tr>
  </thead>
  <tbody>
  {% for m in measurements %}
  <tr>
    <td>{{m.id}}</td>
    <td>{{m.description}}</td>
    <td>{{m.date}}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endif %}
<br><br>

<!-- <p>
<form action='stopExperiment' method='GET'>
    <button type="submit">Stop Experiment</button>
</form>
</p>
<p>
<form action='createSeries' method='GET'>
    <button type="submit">Create Series</button>
</form>
</p>
<p>
<form action='chooseSeries' method='GET'>
    <button type="submit">Chooes Series</button>
</form>
</p> -->
{% endblock %}