{% extends 'base_pretty.html' %}

{% block content %}
<div class="w3-container">
    <hr>
    <div class="w3-center">
    <h2>Детали серии #{{series_id}}</h2>
	<a href="{% url 'uploadReferenceData' series_id %}">Добавить референсные данные</a>
	</div>	
</div>
<div class="w3-center">
<h2>Список измерений в серии</h2>
</div>
<div class="w3-container">
<div class="w3-responsive w3-card-4">
	<table id="measurementsTable" class="w3-table w3-striped w3-bordered">
	<thead>
	<tr class="w3-theme">
	  <th>ID</th>
	  <th>Описание</th>
	  <th>Дата</th>
	  <th>Построить график</th>
	</tr>
	</thead>
	<tbody>
	{% for m in measurements %}
	<tr id="{{m.id}}">
	  <td>{{m.id}}</a></td> 
	  <td>{{m.description}}</td>
	  <td>{{m.date}}</td>
	  <td><a href="{% url 'downloadPlot' series_id m.id 'T' %}">Температура</a>, <a href="{% url 'downloadPlot' series_id m.id 'rH' %}">Относительная влажность</a>, <a href="{% url 'downloadPlot' series_id m.id 'aH' %}">Абсолютная влажность</a>, <a href="{% url 'downloadPlot' series_id m.id 'CH4' %}">Метан</a>, <a href="{% url 'downloadPlot' series_id m.id 'P' %}">Давление</a></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
</div>
<br>
{% endblock %}